<h2 style="text-align: center;">Select Process</h2>
<div>
  <!-- <div *ngIf="currentStep">
    <ng-container *ngComponentOutlet="currentStep.Component; context: { order: order }"></ng-container>
  </div> -->
  <div>
    <div #dynamicComponentContainer></div>
  </div>
  <!-- <div appContainer></div> -->
  <div *ngIf="currentStep != null">
    <button *ngIf="currentStep.id === 1" (click)="cancel()">Cancel</button>
    <button *ngIf="currentStep.id !== 1" (click)="movePrevious()">Move Previous</button>
    <button *ngIf="currentStep.id !== 5" (click)="moveNext()">Move Next</button>
    <button *ngIf="currentStep.id === 5" (click)="update()">Update</button>
    
  </div>
  <div>{{currentStep | json}}</div>
  
</div>


<router-outlet></router-outlet>
